<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/javascripts/app.js"></script>
</head>
<body>
    Hi Jeanne!
<div>
    <div class="container">
        <!--<form id="assignmentForm">-->
            <!--<h3> Name:</h3>-->
            <!--<input type="paragraph text" id="name">-->
            <!--<br>-->
            <!--<h3>Description:</h3>-->
            <!--<input type="paragraph text" id="description">-->
            <!--<br>-->
            <!--<h3>Completion:</h3>-->
            <!--<input type="paragraph text" id="completion">-->
            <!--<br>-->
            <!--<h3>Score:</h3>-->
            <!--<input type="paragraph text" id="score">-->
            <!--<br>-->
            <!--<h3>Gold Stars:</h3>-->
            <!--<input type="paragraph text" id="gold_stars">-->
            <!--<div class="button btn submit">Add Assignment</div>-->
        <!--</form>-->
        <!--<h1>Our Assignments</h1>-->
        <!--<div class="layout">-->
            <!--<ul>-->

            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
</div>

</body>
</html>